@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Permanent+Marker&display=swap");

// Fonts
$header-font: "Permanent Marker", cursive;
$primary-font: "Montserrat", sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$lightgrey: #f2f2f2;
$lightpink: #fe9596;
$blue: #78c5d4;
$darkpink: #ee4d5f; // logo color
$yellow: #ffd661; // logo color
